body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.container{
	margin: 0 1rem;

}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875rem;
	border-bottom: .1875rem solid #77a466;
}
h2 {
    font-size: 1.5rem;
}
h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: 0.75rem;
}

p {
	font-size: 2.5rem;
	line-height: 1.3125rem;
    padding: 0 1.875rem;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
}

header h1 {
	text-align: center;
	margin: 0;
	padding: 2.375rem 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	text-align: center;
	padding: 1.875rem 0;
}
header nav ul {
	margin: 0;
	padding: 0;
	line-height: 2rem;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875rem;
	padding: 0 .625rem;
	display: block;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.bottom-section {
	display: flex;
	flex-flow: column wrap;
}

.main-image {
	height: auto;
	width: 100%;
	border-top: .1875rem solid #77a466;
}
.main-image img {
	width: 100%;
	border-bottom: .1875rem solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: left;
	padding: .3125rem 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1rem;
	line-height: 1.5625rem;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-two {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.menu {
	list-style: none;
}
.menu li {
	padding: 0.625rem 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1rem;
	line-height: 1.3125rem;
}

.address {
	font-size: 1rem;
	line-height: 1.5rem;
}

/*The widths are in a percentage!*/
footer {
	height: 3.125rem;
	border-top: .1875rem solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875rem;
}


@media only screen and (min-width: 768px) {

	header nav ul li {
		display: inline;
	}
}

@media only screen and (min-width: 1200px) {
	
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header h1 span {
		color: blue;
	}

	h1 {
		border-bottom: none;
	}

	.bottom-section {
		flex-flow: row wrap;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}

	.section-two {
		border: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: none;
	}

	h4 {
		padding: 0 1.875rem;
	}
}